In [1]:
import pandas as pd

In [5]:
lines_file = "data_files/listeLignes.xlsx"
stops_file = "data_files/nomArret.csv"

In [10]:
lines = pd.read_excel(lines_file)
stops = pd.read_csv(stops_file, sep=";")

# Explore Lines

In [11]:
lines

,Identifiant,Nom court,Nom long,Famille commerciale
0,1,C1,Cesson-Sévigné (Champs Blancs) <> Rennes <> C...,CHRONOSTAR
1,4,C4,Rennes (ZA Saint-Sulpice) <> Saint-Grégoire (G...,CHRONOSTAR
2,5,C5,Rennes (Patton) <> Rennes (Lycée Bréquigny),CHRONOSTAR
3,11,11,Rennes (La Poterie) <> Vezin-le-Coquet (ZI Ouest),Urbaine
4,12,12,Rennes (Villejean-Université) <> Saint-Grégoir...,Urbaine
...,...,...,...,...
160,453,Ts53,Saint-Erblon (Collège Saint-Paul) <> Orgères <...,Transport scolaire
161,461,Ts61,Cesson-Sévigné (Cesson Piscine) <> Cesson-Sévi...,Transport scolaire
162,467,Ts67,Saint-Gilles (Haute Fresnais) <> L'Hermitage <...,Transport scolaire
163,470,RPI-1,La Chapelle-Chaussée (Chapelle-Chaussée) <> Bé...,Transport scolaire
164,803,API,Api'Bus : Rennes (République) <> Rennes (Etang...,Spéciale

In [16]:
lines.columns

Index(['Identifiant', 'Nom court', 'Nom long', 'Famille commerciale'], dtype='object')

In [15]:
c4 = lines.loc[lines["Nom court"] == "C4"]

,Identifiant,Nom court,Nom long,Famille commerciale
1,4,C4,Rennes (ZA Saint-Sulpice) <> Saint-Grégoire (G...,CHRONOSTAR

# Explore Stops